extends layout

block content
    city-today
        .city-header
            .row
                span location&nbsp;&nbsp;
                strong #{lat}
                .
                    °N,
                strong #{lon}
                .
                    °W
                h1 Boston, Massachusetts
        .city-body
            .row
                .temperature
                    span temperature&nbsp;
                    strong #{temp_f}
                    .
                        °F
                .condition
                    span condition&nbsp;
                    strong(style={color: 'red'}) #{wx_desc}